.classpath
.project
.settings/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
target/
resin-3.1_53/
src/main/webapp/WEB-INF/work
aether.iml
.idea/
profiles.xml.1
diamond_config_data.log
